/* Login.css */
.login-container {
    background-image: url('http://localhost:8080/assets/smashLogoFire.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #3b464a;
}

.login-header {
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.8rem;
}

.username-field,
.password-field {
    margin-bottom: 1.5rem;
}

.username-field input,
.password-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #083349;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    font-size: 1rem;
}

.username-field input:focus,
.password-field input:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 5px rgb(8, 51, 73);
}

.login-submit-button {
    width: 100%;
    padding: 12px;
    background-color: rgb(59, 70, 74);
    color: white;
    border: 2px solid rgb(8, 51, 73);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem
}