<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>Register</h2>

<form th:action="@{/register}" th:object="${user}" method="post">
    <!-- Error message if username or password is incorrect -->
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" placeholder="Enter your username" required />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" placeholder="Enter your password" required />
    </div>

    <div>
        <label for="passwordConfirm">Repeat Password:</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Repeat your password" required />
    </div>

    <div>
        <button type="submit">Register</button>
    </div>

    <!-- Button to navigate to Homepage -->
    <button type="button" onclick="window.location.href='/'">Back to home</button>

</form>
</body>
</html>
